// ~ UTILS
// ====================================================================== >
@import 'utils/variables';
@import 'utils/helpers';
@import 'utils/placeholders';
@import 'utils/mixins';

// ~ VENDORS
// ====================================================================== >
//@import 'vendors/foundation-variables';
@import '../../node_modules/materialize-css/sass/materialize';
@import 'vendors/font-icon-ouiexpat';

// ~ BASE
// ====================================================================== >
@import 'base/base';
@import 'base/typo';

// ~ COMPONENTS
// ====================================================================== >
@import 'components/animations';
@import 'components/buttons';
@import 'components/cards';
@import 'components/left-menu';
@import 'components/override';
@import 'components/select';
@import 'components/tabs';
@import 'components/picker';
@import 'components/list';
@import 'components/algolia-places';

// ~ LAYOUT
// ====================================================================== >
@import 'layout/content';

// ~ PAGES
// ====================================================================== >
@import 'pages/login';


.icon-gradient:before {
  background: linear-gradient(301deg, $yellow 0%, $blue 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
