@import 'utils/_variables';
@import '../../node_modules/materialize-css/sass/materialize';
@import 'base/_base';
@import 'base/_typo';
@import 'components/_buttons';
@import 'components/_select';
@import 'components/_picker';

.no-margin {
    margin: 0;
}

.form-card {
    border-radius: 3px;
    background-color: $white;
}
/* Override */
#sidenav-overlay {
    display: none;
}
