<div class="row">
  <div class="col s12 header-section">
    <h1>Une question ? La réponse se trouve ici</h1>
    <span class="sub">Si vous ne trouvez pas réponser contactez-nous
        (<a href="mailto:contact@ouiexpat.com">contact@ouiexpat.com</a>)
    </span>
  </div>
</div>
<div class="row">
  <div class="col m3 hide-on-small-only">
    <div class="row no-margin">
      <div class="col s12 no-padding title-section">
        <i class="icon icon-question"></i> FAQ
      </div>
    </div>
    <div class="row">
      <ul class="left-menu col s12">
        <li class="selected">
          <div class="row no-margin">
            <div class="col s8 info">
              Général
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="col s12 m8  offset-m1">
    <div class="row form-card list-collapse">
      <ul class="col s12" materialize="collapsible" data-collapsible="accordion">
        <li class="list-collapse-item">
          <div class="collapsible-header">
            <i class="icon icon-plus"></i>
            <label>Qu'est-ce que Ouiexpat ?</label>
          </div>
          <div class="collapsible-body"><span>Ouiexpat est une application web.
Elle permet de simplifier l'expatriation de toute personne souhaitant s'installer à l'étranger et vous accompagner tout au long de cette expérience de vie.
Vous verrez apparaitre en fonction de vos besoins, les outils proposés par Ouiexpat. Dès votre inscription, vous pouvez planifier votre ou vos expatriation(s) en simultané sur une carte.
Plusieurs offres de services sont répertoriées et vous serez le choix selon votre profil et votre destination.</span></div>
        </li>
        <li class="list-collapse-item">
          <div class="collapsible-header">
            <i class="icon icon-plus"></i>
            <label>Est-ce que Ouiexpat est une application gratuite ?</label>
          </div>
          <div class="collapsible-body"><span> Evidemment ! c'est affirmatif.</span></div>
        </li>
        <li class="list-collapse-item">
          <div class="collapsible-header">
            <i class="icon icon-plus"></i>
            <label>Quand utiliser Ouiexpat ?</label>
          </div>
          <div class="collapsible-body"><span>Nous recommandons de laisser l'application active 24/7 avec notre communauté HappExpat.
N'importe laquelle est votre situation à l'étranger : expat, étudiant ou expat junior à l'international, couple expat avec ou sans enfants, senior(s) retraité(s), femme expat ou conjoint d'expat, voyageurs ... vous allez adorer l'appli Ouiexpat.
Cela peut être très utile de partager vos conseils, retours, avis en temps réel sur un endroit ou un produit/ service avec votre entourage et les autres utilisateurs ou partager votre passion et/ou loisir avec les nouveaux arrivés dans votre ville " Happy expat" et les aider à s'intégrer dans leur nouvel environnement.</span></div>
        </li>
        <li class="list-collapse-item">
          <div class="collapsible-header">
            <i class="icon icon-plus"></i>
            <label>Comment contacter votre équipe ? </label>
          </div>
          <div class="collapsible-body"><span>Rien de plus simple :  contact@ouiexpat.com</span></div>
        </li>
        <li class="list-collapse-item">
          <div class="collapsible-header">
            <i class="icon icon-plus"></i>
            <label>Comment supprimer mon compte et l'ensemble des données associées ?</label>
          </div>
          <div class="collapsible-body"><span>Envoyez-nous un mail contact@ouiexpat.com<br />
A l'avenir, vous pourrez le faire depuis les paramètres de l'application. Si vous le faites pour une toute autre raison que de changer de smartphone, nous serions ravis de connaitre les raisons qui vous poussent à le supprimer afin d'améliorer sans cesse le service.
Cette app est le fruit d’une équipe passionnée, entièrement dédiés à rendre votre expatriation simplifiée. Vos remarques sont plus qu’appréciées. </span></div>
        </li>
        <li class="list-collapse-item">
          <div class="collapsible-header">
            <i class="icon icon-plus"></i>
            <label>Comment faire pour obtenir d'avantage d’aide ?</label>
          </div>
          <div class="collapsible-body"><span>N’hésitez surtout pas à nous contacter par mail sur : contact@ouiexpat.com pour toute demande d’aide, retours d’utilisations ou autres remarques pour continuer d’améliorer le service. </span></div>
        </li>
      </ul>
    </div>
  </div>
</div>
