<div class="row">
  <div class="col s12 header-section">
    <h1>Une question ? La réponse se trouve ici</h1>
    <span class="sub">Si vous ne trouvez pas réponser contactez-nous
        (<a href="mailto:contact@ouiexpat.com">contact@ouiexpat.com</a>)
    </span>
  </div>
</div>
<div class="row">
    <div class="col m3 hide-on-small-only">
        <div class="row no-margin">
            <div class="col s12 no-padding title-section">
                <i class="icon icon-question"></i> FAQ
            </div>
        </div>
        <div class="row">
            <ul class="left-menu col s12">
                <li class="selected">
                    <div class="row no-margin">
                        <div class="col s8 info">
                            Général
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="col s12 m8  offset-m1">
        <div class="row form-card list-collapse">
            <ul class="col s12" materialize="collapsible" data-collapsible="accordion">
                <li class="list-collapse-item">
                    <div class="collapsible-header">
                        <i class="icon icon-plus"></i>
                        <label>Aenean hendrerit fermentum nibh nec lobortis. Ut sit amet magna</label>
                    </div>
                    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil adipisci possimus porro iste, saepe sunt veritatis dolore optio omnis consequuntur minus vel! Vero deleniti, nobis aliquid consectetur similique doloremque iusto! </span></div>
                </li>
                <li  class="list-collapse-item">
                    <div class="collapsible-header">
                        <i class="icon icon-plus"></i>
                        <label>Nunc sapien nulla, volutpat at accumsan non, aliquam nec diam. Etiam tempus, augue at malesuada adipiscing,</label>
                    </div>
                    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil adipisci possimus porro iste, saepe sunt veritatis dolore optio omnis consequuntur minus vel! Vero deleniti, nobis aliquid consectetur similique doloremque iusto! </span></div>
                </li>
                <li  class="list-collapse-item">
                    <div class="collapsible-header">
                        <i class="icon icon-plus"></i>
                        <label>Donec tincidunt gravida lacus eget lacinia. Cras et dui mollis, tempus velit placerat, sodales tellus. Class</label>
                    </div>
                    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil adipisci possimus porro iste, saepe sunt veritatis dolore optio omnis consequuntur minus vel! Vero deleniti, nobis aliquid consectetur similique doloremque iusto! </span></div>
                </li>
            </ul>
        </div>
    </div>
</div>
