@import "../../dashboard.component.scss";

.widget {
    background: #F8F8F8;

    .no-expat {
        max-width: 90%;
        height: auto;
        margin-top: -24px;
        @media screen and (max-width: 414px) {
            margin-top: 0;
        }
        @media screen and (min-width: 414px) and (max-width: 768px) {
            max-width: 70%;
        }
    }
}
