@import '../../../styles/utils/variables';
@import '../../../styles/layout/content';
@import '../../../styles/utils/placeholders';

.title {
  font-size: 24px;
}

.card-desc {
  position: relative;
  display: block;
  width: calc(100% - 16px);
  margin-left: 10px;
  margin-bottom: 0;
  min-height: 140px;
  padding-left: 110px;
  padding-bottom: 25px;

  .ouiexpat-review-icon {
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
    width: 100px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("../../../assets/favicon/favicon.png") ;
    background-size: 70%;
    border-radius: 100px;
    border: solid 1px $line-color;
  }
}


.userReview {
  height: 100px;
  border-radius: 3px;
  border-color: $line-color;
}

.card {
  min-height: calc(100vh - 100px);
}

.card-content {
  display: inline-block;
  width: 100%;

  .title {
    margin-top: 0 !important;
  }
}

.bottom-line {
  border-bottom: solid 1px $line-color;
  padding-bottom: 20px;
}

.comment {
  display: block;
  width: calc(100% - 62px);
  margin: 15px auto;
  padding: 15px;
  @extend .form-card;
}

.add-comment {
  position: relative;
  margin-left: 15px !important;
  padding-left: 80px;

  .circle {
    position: absolute;
    left: 0;
    top: 0;
    height: 65px;
    width: 65px;
    overflow: hidden;

    img {
      width: 100%;
    }
  }
}