<div class="card">
    <div class="card-content inner-space-bottom-0">
        <div class="title secondary-text col s12">{{entity?.name}}</div>
        <div class="row">
            <div class="col s12">
                <div class="col s6">{{entity?.category}}</div>
                <div class="col s6 text-right">{{entity?.address?.name}}</div>
            </div>
        </div>
        <div class="row card-desc bottom-line" *ngIf="entity?.details">
            <div class="col s12">
                <span class="ouiexpat-review-icon"></span>{{entity?.details}}
            </div>
        </div>
    </div>

    <div class="text-center comment" *ngIf="entity?.reviews.length === 0">
        Personne n'a encore laissé son avis... Laissez le votre !
    </div>

    <div class="card-content">
        <div class="col s12 add-comment">
            <div class="row">
                <span class="circle">
                    <img  alt="Profil" class="circle" height="100" [src]="currentUser?.photo || ''">
                </span>
                <div class="col s12">
                    <textarea class="userReview" cols="30" rows="20"
                          #userReview placeholder="Votre avis"></textarea>
                </div>
            </div>
        </div>
        <!-- TODO Connect btn send -->
        <div class="col-s12 space-top-5 text-right">
            <button class="btn btn-validate waves-effect">
                Envoyer
            </button>
        </div>
    </div>

    <div class="card-content" *ngIf="entity?.reviews.length > 0">
        <div class="col s12">
            <oe-review [review]="review" *ngFor="let review of entity?.reviews"></oe-review>
        </div>
    </div>
</div>
