.btn-validate {
    background: $linear-gradient;
    border-radius: 40px;
}

.btn-validate:disabled,
.btn-validate[disabled] {
    opacity: 0.3;
    background: $linear-gradient !important;
    color: white !important;
    cursor: not-allowed;
}

.btn-white {
    background: $white;
    border-radius: 40px;
    color: $text-color;
    border: 2px solid $text-color;
    height: 38px;
}

.btn-white-stroke {
    background: transparent;
    border-radius: 40px;
    color: white;
    border: 2px solid white;
}

.btn-red {
    background: $white;
    border-radius: 40px;
    color: color("red", "base") ;
    border: 2px solid color("red", "base") ;
    height: 38px;
}

.btn-white:focus,
.btn-white:hover{
    background-color: $grey-very-light;
}

.btn-red:focus,
.btn-red:hover {
  background-color: color("red", "base");
  color:$white;
}

.btn-medium {
    text-align: center;

    i {
        width: auto;
        font-size: 18px;
    }
}

    // ================ //
// Utils Buttons Styles
// ================ //

.has-icon-left {
    i {
        position: relative;
        top: 2px;
        margin-right: 8px;
    }
}

.has-icon-right {
    i {
        position: relative;
        top: 2px;
        margin-left: 8px;
    }
}

.btn-space-hrz {
    margin-right: 10px;
}

.btn-space-vert {
    margin-bottom: 10px;
}