// -----------------------------------------------------------------------------
// This file contains all styles related to the FORM effects.
// -----------------------------------------------------------------------------

// ================ //
// INPUT / TEXTAREA (start)
// ================ //

textarea {
  display: block;
  padding: 10px;
  max-width: 100%;
}

// ================ //
// CUSTOM CHECKBOX (start)
// ================ //

.list-check-area {
  margin: 0;
  margin-bottom: 25px;

  .list-check-area-item {
    display: inline-block;
    margin-right: 10px;
    @extend %transition;

    .check-area + input[type="checkbox"]:checked  {
      color: white;

    }

    .check-area {
      position: relative;
      height: 100px;
      width: 100px;
      padding: 0;
      text-align: center;

      &:hover, &:focus, &:active {
        @extend %transition;
        background-color: $white-grey;
      }

      i {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 38px;
        color: $green-expat;
      }


      input[type="checkbox"]:checked + label {
        background-color: $green-expat;
        color: white;

        i {
          color: white;
        }
      }

      input[type="checkbox"]:checked + label:before {
        transform: scale(0.7) rotate(40deg);
        transform-origin: 6px 1px;
        border-right: 2px solid white;
        border-bottom: 2px solid white;
      }

      label {
        height: 100% !important;
        width: 100%;
        padding-left: 0;
        padding-top: 65%;
        font-size: 11px;
        font-weight: bold;

        &:before {
          right: 5px;
          top: 5px;
          left: inherit;
          transform: scale(0.7);
        }
      }
    }
  }
}

.check-area {
  @extend .form-card;
  height: 100px;
  width: 100px;
  background: $white;
  color: $green-expat;
}

input[type="checkbox"]:checked + label:before {
  border-right: 2px solid $green-expat;
  border-bottom: 2px solid $green-expat;
}

input[type="checkbox"]:checked + label { color: $green-expat;}

// ================ //

// ================ //
// CUSTOM CHECKBOX (end)
// ================ //

// ================ //
// CUSTOM RADIO (start)
// ================ //

[type="radio"]:checked + label:after,
[type="radio"].with-gap:checked + label:after {
  background-color: $green-expat;
  border-color: $green-expat;
}

input[type="radio"]:checked + label { color: $green-expat;}

// ================ //
// CUSTOM RADIO (end)
// ================ //
