// -----------------------------------------------------------------------------
// ~ This file contains all styles related to the LEFT MENU layout.
// -----------------------------------------------------------------------------


ul.left-menu {
  li {
    position: relative;
    padding: 10px 20px 10px 5px;
    border-bottom: 1px solid $line-color;
    line-height: 1.4;
    @extend %transition;

    &:after {
      font-family: ouiexpat;
      position: absolute;
      top: 57%;
      right: 0;
      transform: translate(-50%, -50%);
      content: '\58';
      font-size: 24px;
      color: $grey-light;
    }
  }

  li.selected,
  li.selected:hover {
    @extend %transition;
    color: $white;
    background: $linear-gradient;

    &:after { color: white;}
  }

  li:hover {
    @extend %transition;
    background: rgba(212, 214, 223, .2);
    cursor: pointer;
  }

  .ico {
    font-size: 24px;
  }
}
