.select-wrapper span.caret {
    color: $text-color;
    display: none;
}

.select-wrapper:before {
    font-family: 'ouiexpat';
    position: absolute;
    top: 56%;
    right: -8px;
    transform: translate(-50%, -50%);
    content: '\56';
    font-size: 18px;
}


.select-wrapper input.select-dropdown {
    color: $text-color;
}

.ligth .select-wrapper span.caret {
    color: $white;
}

.ligth .select-wrapper input.select-dropdown {
    color: $white;
    border-bottom: 1px solid $white;
}
