.select-wrapper span.caret {
    color: $text-color;
}

.select-wrapper input.select-dropdown {
    color: $text-color;
}

.ligth .select-wrapper span.caret {
    color: $white;
}

.ligth .select-wrapper input.select-dropdown {
    color: $white;
    border-bottom: 1px solid $white;
}
