<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper container">
            <a routerLink="/" class="brand-logo"><img src="/assets/img/logo-96x96.png" alt="Logo"></a>
            <a href="" data-activates="mobile-nav" class="button-collapse" materialize="sideNav" [materializeParams]="[{edge:'left'}]"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down desktop">
                <li><a routerLink="/" routerLinkActive="active">DASHBOARD</a></li>
                <li><a routerLink="/">CHECKLISTS</a></li>
                <li><a routerLink="/">HAPPYEXPAT</a></li>
                <li><a routerLink="/">EXPATRIATIONS</a></li>
            </ul>
            <ul class="side-nav" id="mobile-nav">
              <li><a routerLink="/">DASHBOARD</a></li>
              <li><a routerLink="/">CHECKLISTS</a></li>
              <li><a routerLink="/">HAPPYEXPAT</a></li>
              <li><a routerLink="/">EXPATRIATIONS</a></li>
            </ul>
        </div>
    </nav>
</div>
