<div class="row">
    <div class="col s12 m8 l4 offset-m2 offset-l4">
        <div class="row text-center force-space-bottom-0">
            <img src="/assets/img/logo.svg" alt="Logo Ouiexpat" class="logo-app"/>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="auth-form form-card">

                    <div class="row no-margin">
                        <h1 class="col s12">Réinitialiser le mot de passe</h1>
                    </div>

                    <form (ngSubmit)="requestForm.form.valid && requestLink(requestForm.value)" #requestForm="ngForm" *ngIf="!token">
                        <div class="row">
                          <p class="col s12">
                            Saisisser l'adresse e-mail associée à votre compte.<br />
                            Nous vous enverrons un lien à cette adresse pour réinitialiser votre mot de passe.
                          </p>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="email" name="email" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" class="validate" ngModel required>
                                <label for="email">Adresse E-mail *</label>
                            </div>
                        </div>

                        <div class="row">
                            <button class="btn btn-validate waves-effect col s8 offset-s2" type="submit" [disabled]="requestForm.invalid">Envoyer le lien</button>
                        </div>
                    </form>

                    <form (ngSubmit)="resetForm.form.valid && reset(resetForm.value)" #resetForm="ngForm" *ngIf="token">
                        <div class="row">
                          <p class="col s12">
                            Indiquer votre nouveau mot de passe.
                          </p>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="new_password" name="new_password" type="password" class="validate" ngModel required>
                                <label for="new_password">Nouveau mot de passe *</label>
                            </div>
                        </div>

                        <div class="row">
                            <button class="btn btn-validate waves-effect col s8 offset-s2" type="submit" [disabled]="resetForm.invalid">Réinitialiser</button>
                        </div>
                    </form>

                    <div class="row center-align space-top-20">
                        Vous vous souvenez de votre mot de passe ?
                    </div>

                    <div class="row">
                        <a routerLink="/auth/login" class="btn-flat btn-white waves-effect center-align col s8 offset-s2">Se connecter</a>
                    </div>

                </div>
            </div>
        </div>
        <div class="row back center-align">
            <div class="col s12">
                <span class="icon icon-arrow-thin-left"></span>
                <a href="http://www.ouiexpat.com">Retour au site</a>
            </div>
        </div>
    </div>
</div>
