// ==== Transition for animation placeholder
%transition {
  transition: all 0.25s;
}

// ==== Empty Block effect

%blurEffect {
    opacity: 0.4;
    filter: blur(2px);
}

// ==== Alignement Icon

%dsplInlineIcon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

