$blue:                                            #00A2D8 !default;
$green:                                           #26A69A !default;

$text-color:                                      #525356 !default;
$grey-light:                                      #B8B8B8 !default;
$grey-very-light:                                 #eeeeee !default;
$grey:                                            #9e9e9e !default;
$white:                                           #F8F8F8 !default;
$white-grey:                                      #F4F7FC !default;

$line-color:                                      lighten($grey-light, 15%) !default;

$yellow:                                          #F7CB0A !default;
$red:                                             #FF3950 !default;
$linear-gradient:                                 linear-gradient(301deg, $yellow 0%, $blue 100%)!default;
$gradient-blue:                                   linear-gradient(139deg, $green 0%, #6EB6A8 100%)!default;
//Override materialize-css

$primary-color:                                  #525356 !default;
$secondary-color:                                #00A2D8 !default;


$link-color:                                     $text-color !default; //  Fonts
$dropdown-color:                                 $secondary-color !default;
$navbar-font-color:                              $primary-color !default;
$sidenav-font-color:                             $primary-color !default;

//FONTS and PATHS
// ===================================================================

// ==== FONTS
$capriola: "Capriola-Regular";
$open-sans: "Open Sans";


// ==== PATHS
$roboto-font-path: '../../node_modules/materialize-css/fonts/roboto/' !default;
$img-path :                                     '/assets/img/' !default;

$font-path :                                    '/assets/fonts/' !default;


//METRICS
// ===================================================================

// ==== FOOTER
$height-footer :    60px;
