$roboto-font-path: '../../node_modules/materialize-css/fonts/roboto/' !default;
$blue: #00A2D8;
$text-color: #525356;
$grey-light: #B8B8B8;
$grey-very-light: #eeeeee;
$grey: #9e9e9e;
$white: #F8F8F8;
$yellow: #F7CB0A;
$white-grey: #F4F7FC;
$red: #FF3950;
$linear-gradient: linear-gradient(301deg, $yellow 0%, $blue 100%);
//Override materialize-css
$primary-color: #525356 !default;
$secondary-color: #00A2D8 !default;
$link-color: $text-color !default; //  Fonts
$dropdown-color: $secondary-color !default;
$navbar-font-color: $primary-color !default;
$sidenav-font-color: $primary-color !default;
// ===================================================================
@font-face {
    font-family: "Capriola-Regular";
    src: url("/assets/fonts/Capriola-Regular/Capriola-Regular.ttf");
}
@font-face {
    font-family: "Open Sans";
    src: url("/assets/fonts/Open-Sans/OpenSans-Regular.ttf");
}
$capriola: "Capriola-Regular";
$open-sans: "Open Sans";
