@import "../profil.component.scss";
@import '../../../../styles/utils/placeholders';
@import '../../../../styles/utils/variables';

ul.left-menu {
    li {
        line-height: 64px;
        padding: 0 10px;
        border-bottom: 1px solid $grey-light;
    }

    li.selected,
    li.selected:hover {
        color: $white;
        background: $linear-gradient;
    }

    li:hover {
        background: rgba(212, 214, 223, .2);
        cursor: pointer;
    }

    .ico {
        font-size: 24px;
    }
}
