<ul class="left-menu">
    <li class="selected">
        <div class="row no-margin">
            <div class="col s8 info">
                Mes informations
            </div>
        </div>
    </li>
    <li>
        <div class="row no-margin">
            <div class="col s8 info">
                Mot de passe
            </div>
        </div>
    </li>
    <li>
        <div class="row no-margin">
            <div class="col s8 info">
                Notifications
            </div>
        </div>
    </li>
</ul>
