<div class="row form-card">
    <form class="col s12" (ngSubmit)="passwordForm.form.valid && updatePassword()" #passwordForm="ngForm">
        <div class="row">
            <div class="col s12">
                <h4 class="subtitle">Changement de mot de passe</h4>
            </div>
        </div>

        <div class="row no-margin">
            <div class="col s12 no-padding">
                <div class="row no-margin">
                    <div class="col s1 no-padding icon icon-information icon-gradient vert-align-middle"></div>
                    <div class="col s11 vert-align-middle small-txt">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <input id="password" placeholder="Mot de passe" name="password" type="password" [(ngModel)]="user.password" required>
                <!-- <label for="password">Nouveau mot de passe</label> -->
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <input id="confirmation" placeholder="Confirmation" name="confirmation" type="password" [(ngModel)]="confirmation" required>
                <!-- <label for="confirmation">Confirmation</label> -->
            </div>
        </div>


        <div class="row action-bar">
            <div class="col s12">
                <button class="btn btn-validate waves-effect col s5 offset-s7" type="submit" [disabled]="passwordForm.invalid || passwordForm.pristine">
                  Sauvegarder et mettre à jour
              </button>
            </div>
        </div>

    </form>

</div>
