<div class="row">
    <div class="col s12 m4">
        <oe-light-card [entity]="blog"
                       [isFav]="isFav()"
                       [isLiked]="isLiked()"
                       (addOrRemoveToFavChange)="addOrRemoveToFav($event)"
                       (likeOrDislikeChange)="likeOrDislike($event)"
                       (visitChange)="visit($event)">
        </oe-light-card>
    </div>
    <div class="col s12 m8">
        <oe-card-detail [entity]="blog"></oe-card-detail>
    </div>
</div>
