<div class="row back">
  <div class="col s12">
      <span class="icon icon-arrow-thin-left"></span>
      <a routerLink="/happyexpat">Retour à la liste</a>
  </div>
</div>
<div class="row">
    <div class="col s12 m4">
        <oe-light-card [entity]="blog"
                       [isFav]="isFav()"
                       [isLiked]="isLiked()"
                       (addOrRemoveToFavChange)="addOrRemoveToFav($event)"
                       (likeOrDislikeChange)="likeOrDislike($event)"
                       (visitChange)="visit($event)">
        </oe-light-card>
    </div>
    <div class="col s12 m8">
        <oe-card-detail [entity]="blog" (onPostReview)="postReview($event)" (onDeleteReview)="deleteReview($event)"></oe-card-detail>
    </div>
</div>
