@import "../../dashboard.component.scss";
@import '../../../../../styles/utils/variables';

.widget {
    background: $white;
    height: auto;

    .no-expat {
        max-width: 60%;
        height: auto;
        margin-top: -30px;
        @media screen and (max-width: 414px) {
            margin-top: 0;
        }
        @media screen and (min-width: 414px) and (max-width: 768px) {
            max-width: 70%;
        }
    }

    .separator {
        position: relative;
        padding-right: 30px;

        &:after {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translate(-50%, -50%);
            height: 90%;
            width: 1px;
            background-color: $line-color;
            content: '';
        }

        @media screen and (max-width: 600px) {
            &:after {  display: none;}
        }
    }

    .city {
        line-height: 24px;
        font-size: 16px;
    }
}

.title-list {
    margin-bottom: 10px;
    padding-left: 15px;

    @media screen and (max-width: 600px) {
        padding-left: 5px;
    }

    .title {
        font-size: 16px;
        color: $text-color;
    }
}

.info-expat {
    padding: 0 11px;

    .location-expat {
        position: relative;
        padding-left: 34px;
        font-size: 12px;

        img {
            position: absolute;
            top: 50%;
            left: 11px;
            transform: translate(-50%, -50%);
            display: inline-block;
            vertical-align: middle;
            height: 16px;
            width: 24px;
        }
    }
}

.list-expat-areas {
    margin: 0;
    padding-left: 10px;

    @media screen and (max-width: 600px) {
        padding-left: 0;
        margin-bottom: 15px;
    }

    .list-expat-areas-item {
        position: relative;
        display: inline-block;
        height: 40px;
        width: 40px;
        margin-right: 15px;
        line-height: 40px;
        border-radius: 50%;
        background-color: $green-expat;
        color: $white;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,0.14);

        &:last-child { margin-right: 0;}

        i {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: auto;
            display: inline-flex;
            font-size: 20px;
        }

        .no-completed {
            position: absolute;
            right: -3px;
            top: -3px;
            text-align: center;
            font-size: 10px;
            height: 16px;
            width: 16px;
            line-height: 16px;
            border-radius: 50%;
            background-color: $red;
            z-index: 1;
        }
    }
}



.label-day-diff, .value-day-diff {
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
}

.value-day-diff { font-size: 18px;}

.pourcent-progress {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    font-size: 24px;
    font-weight: 900;
    background: $linear-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.pourcent-progress-label {
    display: inline-block;
    vertical-align: middle;
}

.progress-bg {
    background-color: $grey-very-light;
    height: 16px;
    margin: 0 10px;
    border-radius: 10px;

    .progress {
        background: $linear-gradient;
        height: 16px;
        border-radius: 10px;
    }
}
