@import "../../dashboard.component.scss";
@import '../../../../../styles/utils/variables';

.widget {
    background: $white;

    .no-expat {
        max-width: 60%;
        height: auto;
        margin-top: -30px;
        @media screen and (max-width: 414px) {
            margin-top: 0;
        }
        @media screen and (min-width: 414px) and (max-width: 768px) {
            max-width: 70%;
        }
    }

    .separator {
        padding-right: 25px;
        border-right: 1px solid #f1f1f1;
    }

    .city {
        line-height: 24px;
        font-size: 16px;
    }
}
