@import "../../dashboard.component.scss";
@import '../../../../../styles/utils/variables';

.widget {
    background: $white;

    .no-expat {
        max-width: 60%;
        height: auto;
        margin-top: -30px;
        @media screen and (max-width: 414px) {
            margin-top: 0;
        }
        @media screen and (min-width: 414px) and (max-width: 768px) {
            max-width: 70%;
        }
    }

    .separator {
        position: relative;
        padding-right: 30px;

        &:after {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translate(-50%, -50%);
            height: 90%;
            width: 1px;
            background-color: $line-color;
            content: '';
        }
    }

    .city {
        line-height: 24px;
        font-size: 16px;
    }
}

.list-icon {
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
    background-color: #6EB6A8;
    color: $white;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.14);

    .icon {
        margin-left: 12px;
    }

    .no-completed {
        position: absolute;
        text-align: center;
        font-size: 10px;
        height: 16px;
        width: 16px;
        line-height: 16px;
        border-radius: 50%;
        background-color: #FF3950;
    }
}

.label-day-diff, .value-day-diff {
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
}

.value-day-diff { font-size: 18px;}

.pourcent-progress {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    font-size: 24px;
    font-weight: 900;
    background: $linear-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.pourcent-progress-label {
    display: inline-block;
    vertical-align: middle;
}

.progress-bg {
    background-color: $grey-very-light;
    height: 16px;
    margin: 0 10px;
    border-radius: 10px;

    .progress {
        background: $linear-gradient;
        height: 16px;
        border-radius: 10px;
    }
}
