<html>

<head>
    <title>Reset Your Password</title>
</head>

<body>
    <h1>Reset your password</h1>
    <p>
        <a href="{{passwordResetUrl}}">{{passwordResetUrl}}</a>
    </p>
</body>

</html>
