<div class="row">
    <div class="col s12 m8 l6 offset-m2 offset-l3">
        <div class="row text-center force-space-bottom-0">
            <img src="/assets/img/logo.svg" alt="Logo Ouiexpat" class="logo-app"/>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="auth-form form-card">

                    <div class="row no-margin">
                        <h1 class="col s12 center-align">Votre 1<sup>ère</sup> expatriation</h1>
                    </div>
                    <div class="row no-margin">
                        <a routerLink="/" class="btn btn-validate waves-effect col s8 offset-s2 row">
                            <div class="col s11">Plus tard, découvrir OuiExpat</div>
                            <div class="col s1 right-align icon icon-arrow-thin-right"></div>
                        </a>
                    </div>

                    <form (ngSubmit)="firstForm.form.valid && register()" #firstForm="ngForm">
                        <div class="row">
                            <div class="col s12 chapter"><span class="number">1.</span> Votre situation</div>
                        </div>

                        <div class="row">
                            <p>
                                <input name="situtation" type="radio" id="new" />
                                <label for="new">Vous allez bientôt partir</label>
                            </p>
                            <p>
                                <input name="situtation" type="radio" id="expat" />
                                <label for="expat">Je suis expatrié(e)</label>
                            </p>
                            <p>
                                <input name="situtation" type="radio" id="back" />
                                <label for="back">Je vais rentrer en France</label>
                            </p>
                        </div>


                        <div class="row">
                            <div class="col s12 chapter"><span class="number">2.</span> Expatriation</div>
                        </div>

                        <div class="row no-margin">

                            <div class="col s8">
                                <algolia-places name="address" [(ngModel)]="expatriation.location"></algolia-places>
                            </div>

                            <div class="input-field col s4">
                                <input id="date" name="date" type="text" materialize="pickadate" [materializeParams]="[formDateOptions]" [(ngModel)]="expatriation.date" required>
                                <label for="date">Date *</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col s12 chapter"><span class="number">3.</span> Vos besoins</div>
                        </div>

                        <ul class="row list-check-area">
                            <li class="list-check-area-item">
                                <div class="check-area">
                                    <input name="things" type="checkbox" id="things" value="things" (change)="updateCheckedLists($event)"/>
                                    <label for="things">
                                        <i class="icon icon-key"></i>Logement
                                    </label>
                                </div>
                            </li>
                            <li class="list-check-area-item">
                                <div class="check-area">
                                    <input name="administrative" type="checkbox" id="administrative" value="administrative" (change)="updateCheckedLists($event)"/>
                                    <label for="administrative">
                                        <i class="icon icon-document"></i>Administratif
                                    </label>
                                </div>
                            </li>
                        </ul>

                        <div class="row">
                            <button class="btn btn-validate waves-effect col s8 offset-s2" type="submit" [disabled]="firstForm.invalid">Valider</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
