<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper container">
            <a routerLink="/" class="brand-logo"><img src="/assets/img/logo-96x96.png" alt="Logo"></a>
            <a href="" data-activates="mobile-nav" class="button-collapse" materialize="sideNav" [materializeParams]="[{edge:'left'}]"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down desktop">
                <li><a routerLink="/dashboard" routerLinkActive="current">DASHBOARD</a></li>
                <li><a routerLink="/myexpat" routerLinkActive="current">MYEXPAT</a></li>
                <li><a routerLink="/">HAPPYEXPAT</a></li>
                <li><a routerLink="/expatriations" routerLinkActive="current">EXPATRIATIONS</a></li>
                <li>
                    <a class="account dropdown-button row valign-wrapper" routerLink="/profil" routerLinkActive="selected" data-activates="dropdown1" materialize="dropdown" [materializeParams]="[{hover:true}]">
                        <div class="col s7 right-align account-info">
                            <span class="row name">{{ user.lastname }} {{ user.firstname }}</span>
                            <span class="row notification">Aucune notification</span>
                        </div>
                        <span class="col s3 circle-border" [style.backgroundImage]="'url(' + user.photo + ')'"></span>
                        <span class="col s2"><i class="icon icon-chevron-down chevron-dropdown  right"></i></span>
                    </a>
                </li>
            </ul>
            <ul class="side-nav" id="mobile-nav">
                <li class="profil">
                    <a class="row no-margin-bottom info" routerLink="/profil">
                        <span class="col s3"><img [src]="user.photo" alt="Profil" class="circle" height="40"></span>
                        <span class="col s7">
                          <div class="row no-margin"> {{ user.lastname }} {{ user.firstname }}</div>
                          <div class="row notification">Aucune notification</div>
                        </span>
                    </a>
                </li>
                <li><a routerLink="/dashboard" routerLinkActive="current">DASHBOARD</a></li>
                <li><a routerLink="/myexpat" routerLinkActive="current">MYEXPAT</a></li>
                <li><a routerLink="/">HAPPYEXPAT</a></li>
                <li><a routerLink="/expatriations" routerLinkActive="current">EXPATRIATIONS</a></li>
                <li class="divider"></li>
                <li><a routerLink="/auth/login">SE DECONNECTER</a></li>
            </ul>
        </div>
    </nav>
    <!-- Dropdown Structure -->
    <ul id="dropdown1" class="dropdown-content">
        <li><a routerLink="/profil">MON PROFIL</a></li>
        <li><a routerLink="/auth/login">SE DECONNECTER</a></li>
    </ul>
</div>
