<div class="register-form form-card">

    <div class="row no-margin">
        <h1 class="col s8">Inscription</h1>
        <span class="col s4 title-icon right-align"><i class="icon icon-user"></i></span>
    </div>

    <form (ngSubmit)="registerForm.form.valid && register(registerForm.value)" #registerForm="ngForm">
        <div class="row no-margin">
            <div class="input-field col s12">
                <input id="email" name="email" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" class="validate" ngModel required>
                <label for="email">Adresse E-mail *</label>
            </div>
        </div>
        <div class="row no-margin">
            <div class="input-field col s12">
                <input id="password" name="password" type="password" class="validate" ngModel required>
                <label for="password">Mot de passe *</label>
            </div>
        </div>
        <div class="row no-margin">
            <div class="input-field col s12">
                <input id="firstname" name="firstname" type="text" class="validate" ngModel required>
                <label for="firstname">Prénom *</label>
            </div>
        </div>
        <div class="row no-margin">
            <div class="input-field col s12">
                <input id="lastname" name="lastname" type="text" class="validate" ngModel required>
                <label for="lastname">Nom *</label>
            </div>
        </div>

        <date-inline label="Date de naissance *" (onDateChange)="setBirthday($event)"></date-inline>

        <div class="row">
            <button class="btn btn-validate waves-effect col s8 offset-s2" type="submit">S'inscrire</button>
        </div>
    </form>

    <div class="row center-align">
      Vous avez déjà un compte ?
    </div>

    <div class="row">
        <a routerLink="/auth/login" class="btn-flat btn-white waves-effect center-align col s8 offset-s2">Se connecter</a>
    </div>

</div>
