<div class="row" [hidden]="displayTerms">
  <div class="col s12 m8 l4 offset-m2 offset-l4">
    <div class="row text-center force-space-bottom-0">
      <img src="/assets/img/logo.svg" alt="Logo Ouiexpat" class="logo-app" />
    </div>
    <div class="row">
      <div class="col s12">

        <div class="auth-form form-card">

          <div class="row no-margin">
            <h1 class="col s8">Inscription</h1>
            <span class="col s4 title-icon right-align"><i class="icon icon-user"></i></span>
          </div>

          <form (ngSubmit)="registerForm.form.valid && register(registerForm.value)" #registerForm="ngForm">
            <div class="row no-margin">
              <div class="input-field col s12">
                <input id="email" name="email" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" class="validate" ngModel required>
                <label for="email">Adresse E-mail *</label>
              </div>
            </div>
            <div class="row no-margin">
              <div class="input-field col s12">
                <input id="password" name="password" type="password" class="validate" ngModel required>
                <label for="password">Mot de passe *</label>
              </div>
            </div>
            <div class="row no-margin">
              <div class="input-field col s12">
                <input id="firstname" name="firstname" type="text" class="validate" ngModel required>
                <label for="firstname">Prénom *</label>
              </div>
            </div>
            <div class="row no-margin">
              <div class="input-field col s12">
                <input id="lastname" name="lastname" type="text" class="validate" ngModel required>
                <label for="lastname">Nom *</label>
              </div>
            </div>

            <div class="row">
              <div class="col s12 text-center">
                <input type="checkbox" id="terms" name="terms" required ngModel/>
                <label for="terms" class="terms">En créant un compte, j'accepte les <a (click)="displayTerms = !displayTerms">Conditions générales</a></label>
              </div>
            </div>

            <div class="row">
              <button class="btn btn-validate waves-effect col s8 offset-s2" type="submit" [disabled]="registerForm.invalid">S'inscrire</button>
            </div>
          </form>

          <div class="row center-align space-top-20">
            Vous avez déjà un compte ?
          </div>

          <div class="row no-margin">
            <a routerLink="/auth/login" class="btn-flat btn-white waves-effect center-align col s8 offset-s2">Se connecter</a>
          </div>

        </div>
      </div>
    </div>

    <div class="row back center-align">
      <div class="col s12">
        <span class="icon icon-arrow-thin-left"></span>
        <a href="http://www.ouiexpat.com">Retour au site</a>
      </div>
    </div>
  </div>
</div>


<div class="row" [hidden]="!displayTerms">
  <div class="col s12 m8 l6 offset-m2 offset-l3">
    <div class="row text-center force-space-bottom-0">
      <img src="/assets/img/logo.svg" alt="Logo Ouiexpat" class="logo-app" />
    </div>
    <div class="row">
      <div class="col s12">
        <div class="auth-form form-card">
          <div class="tems-content">
            <div class="row no-margin">
              <h1 class="col s12">Conditions générales</h1>
            </div>

            <div class="row no-margin">
              <div class="col s12 chapter"><span class="number">1.</span> Préalable</div>
            </div>

            <div class="row">
              <p>Les présentes conditions générales d’utilisation (CGU) ont pour objet de fixer les règles d’utilisation du site internet par l’utilisateur, l’internaute ou le mobinaute, ainsi que les obligations de l’éditeur. Ces CGU s’appliquent à l’ensemble
                des contenus du site internet et l’utilisateur s’engage à les respecter sans aucune réserve. Cette acceptation est réputée acquise du fait de son seul accès au site internet et à l’application web. En installant et en utilisant l'application
                OUIEXPAT (ci-après “l'Application”), l'Utilisateur est réputé avoir pris connaissance et accepter sans réserve les présentes conditions générales d'utilisation. Celles-ci étant susceptible d'évoluer, l'Utilisateur est invité à les consulter
                régulièrement, toute nouvelle version lui étant immédiatement opposable. OUIEXPAT est libre de modifier des CGU à tout moment, la présente version est la dernière version à laquelle l’utilisateur doit se référer. OUIEXPAT est soumise à
                une obligation de moyens : Elle s’engage à faire ses meilleurs efforts pour sécuriser l’accès, la consultation et l’utilisation du site internet et son extension en application web.
              </p>
            </div>

            <div class="row no-margin">
              <div class="col s12 chapter"><span class="number">2.</span> Définition</div>
            </div>

            <div class="row">
              <p>Site compagnon : l’ensemble des contenus sont accessibles sur Internet depuis l’adresse https://www.ouiexpat.com</p>
            </div>

            <div class="row no-margin">
              <div class="col s12 chapter"><span class="number">3.</span> Contenu et propriété intellectuelle</div>
            </div>

            <div class="row">
              <p>Contenus diffusés par OUIEXPAT :</p>
              <p>
                Les images, textes, programmes, marques, logos et autres composants de l'application web OUIEXPAT sont protégés par des droits de propriété intellectuelle. Toute représentation totale ou partielle de l'application web OUIEXPAT et de son contenu, par quelques
                procédés que ce soient, sans autorisation préalable et expresse de OUIEXPAT, est interdite et constitutive de contrefaçon au sens des articles L. 335-2 et suivants du Code de la propriété intellectuelle. Les informations publiées sur le
                site sont issues des données publiques collectées par OUIEXPAT et par ses partenaires. Toute reproduction, totale ou partielle, de ce site ou d’un ou de plusieurs de ses composants, par quelque procédé que ce soit, sans autorisation expresse,
                est interdite, et constituerait une contrefaçon sanctionnée par les articles L.335-2 et suivants du Code français de la Propriété Intellectuelle. OUIEXPAT ne saurait être tenu responsable en cas d’erreur, d’inexactitude ou d’omission dans
                ces informations ou pour l’utilisation qui en serait faite. OUIEXPAT ne peut encourir aucune responsabilité pour les résultats qui pourraient être obtenus par l’usage de ces informations.
              </p>
              <p>Contenus diffusés par les utilisateurs : </p>
              <p>L’utilisateur concède à l’éditeur une licence d'utilisation des droits de propriété intellectuelle attachés aux contenus fournis par l’utilisateur dans le cadre de leur utilisation des Services. Cette licence comprend notamment le droit
                pour l’éditeur de reproduire, représenter, adapter, traduire, numériser, utiliser aux fins des Services ou de sous- licencier les contenus concernant l’utilisateur (informations, images, description, critères de recherche, etc.), sur tout
                ou partie des Services (sur les Sites, par e-mail) et/ou dans les mailings de l’éditeur et de manière générale sur tous supports de communication électronique (e-mail, SMS, MMS, WAP, Internet) dans le cadre des Services. L’utilisateur
                autorise expressément l’éditeur à modifier les dits contenus afin de respecter la charte graphique des services ou des autres supports de communication visés ci-dessus et/ou de les rendre compatibles avec ses performances techniques ou
                les formats des supports concernés. Ces droits sont concédés pour le monde entier et pour la durée d'exécution des Conditions d'Utilisation entre l’utilisateur et l’éditeur. L’utilisateur s'interdit de copier, reproduire, ou autrement
                utiliser les contenus relatifs aux autres utilisateurs autrement que pour les stricts besoins d'utilisation des services à des fins personnelles et privées.
              </p>
            </div>

            <div class="row no-margin">
              <div class="col s12 chapter"><span class="number">4.</span> Disponibilité & Accès au service </div>
            </div>

            <div class="row">
              <p>OUIEXPAT fera tous les efforts raisonnables pour s'assurer que l'Application est disponible à tout moment. Néanmoins l'Utilisateur déclare être parfaitement informé que certaines fonctionnalités de l'Application sont fournies au moyen d'Internet
                et de réseaux mobiles et que la disponibilité des dits réseaux conditionne l'accès à ces fonctionnalités. Ainsi, OUIEXPAT sera dégagé de toute responsabilité en cas d'indisponibilité du Service pour quelque raison que ce soit. Préalablement
                à l’utilisation du Service, l’Utilisateur doit s’assurer qu’il dispose : D’une connexion Internet ; D’un abonnement téléphonique permettant l’accès à Internet ; D’un téléphone mobile compatible et équipé d’une connexion wifi ou 3G Ceci
                afin de télécharger et installer l’application numérique sur son terminal mobile compatible depuis les stores Apple et Android. L’Utilisateur reconnaît que l’utilisation de certaines fonctionnalités du Service basées sur des informations
                géographiques nécessitent de partager ses données de localisation, notamment la position géographique de son téléphone mobile, ce qu’il accepte expressément s’il souhaite pouvoir utiliser lesdites fonctionnalités.</p>
            </div>

            <div class="row no-margin">
              <div class="col s12 chapter"><span class="number">5.</span> Gratuité du service </div>
            </div>

            <div class="row">
              <p>Les services OUIEXPAT sont fournis gratuitement aux Utilisateurs. Toutefois, OUIEXPAT ne s’engage pas sur la pérennité de la gratuité et se réserve le droit de modifier ultérieurement son principe de tarification en notifiant cette modification
                tarifaire aux Utilisateurs qui pourront ainsi choisir de continuer ou non à utiliser le service suivant les nouvelles conditions.</p>
            </div>

            <div class="row no-margin">
              <div class="col s12 chapter"><span class="number">6.</span> Obligations de l'utilisateur </div>
            </div>

            <div class="row">
              <p>L'utilisateur doit être âgé au minimum de 16 ans et remplir l'ensemble des champs obligatoires figurant dans le formulaire d'inscription. L'utilisateur garantit que les données qu'il communique sont exactes et conformes à la réglementation
                en vigueur. Toute saisie d’information fausse, inexacte, non actualisée ou incomplète ou d’un nom d’Utilisateur ou pseudo contenant des termes, injurieux, diffamants, violents, obscènes ou plus généralement des termes inappropriés, pourra
                donner lieu à la fermeture du compte Utilisateur. Plus généralement OUIEXPAT se réserve la possibilité de suspendre ou de supprimer le compte d’un utilisateur malveillant ou en cas de violation des présentes conditions générales, d’utilisation
                ou de violation de dispositions légales ou réglementaires. Seront supprimés, en particulier, les comptes utilisateurs usurpant l'identité d'un tiers ou visant à poster des commentaires sous l'identité d'un tiers. Le manquement aux obligations
                ainsi définies constitue un manquement grave. Sans préjudice des dispositions de l'article "Résiliation", en cas de manquement par un utilisateur à une ou plusieurs de ces obligations OUIEXPAT pourra résilier le contrat et supprimera définitivement
                la possibilité d'ouvrir un nouveau compte.</p>
            </div>

            <div class="row no-margin">
              <div class="col s12 chapter"><span class="number">7.</span> Conditions d'utilisation </div>
            </div>

            <div class="row">
              <p>L'Utilisateur déclare, garantit et s'engage à :</p>
              <ul>
                <li>Ne pas utiliser l'Application à des fins professionnelles, commerciales, lucratives (publicité, prospection, etc.) ou non privées.</li>

                <li>Respecter les droits de propriété intellectuelle afférents aux contenus fournis par OUIEXPAT et par les autres utilisateurs.</li>

                <li>Ne pas utiliser l'Application à des fins de racolage ou de prostitution.</li>

                <li>Ne poster, n'indiquer ou ne diffuser sous quelque forme que ce soit que des informations ou contenus conformes à la réalité.</li>

                <li>Ne pas tenir ou proférer des propos ou diffuser sous quelque forme que ce soit des contenus contrevenant aux droits d'autrui ou à caractère diffamatoire, injurieux, obscène, offensant, violent ou incitant à la violence, politique, raciste
                  ou xénophobe et de manière générale tout contenu contraire à l'objet des Services, aux lois et règlements en vigueur, aux droits des personnes ou aux bonnes mœurs.</li>

                <li>Ne pas poster, indiquer, ni diffuser sous quelque forme que ce soit des informations ou contenus ayant pour effet de diminuer, de désorganiser, d'empêcher l'utilisation normale de OUIEXPAT d'interrompre et/ou de ralentir la circulation
                  normale des communications entre les utilisateurs par l'intermédiaire de l'application, tels que des logiciels, virus, bombes logiques, envoi massif de messages, etc. OUIEXPAT se réserve le droit de supprimer les messages qui sont envoyés
                  massivement par un utilisateur afin de préserver une qualité d'utilisation normale de l'application auprès des autres utilisateurs.</li>

                <li>Etre seul responsable de l'utilisation des données fournies par l'application.</li>

                <li>N'utiliser l'Application qu'à des fins licites dans les conditions et limites du présent Contrat et sans porter atteinte aux droits de tiers ou de OUIEXPAT.</li>

                <li>N'utiliser l'Application qu'à des fins privées.</li>

                <li>L'utilisateur reconnaît que les messages qu'il va adresser via l'application sont sous sa seule responsabilité.</li>

                <li>OUIEXPAT ne saurait être tenu pour responsable de l'indemnisation des dommages directs et indirects subis par l'Utilisateur du fait notamment directement ou indirectement d'une mauvaise utilisation et/ou d'une utilisation non-conforme
                  de l'Application.</li>
              </ul>
              <p>Par ailleurs, OUIEXPAT ne pourra voir sa responsabilité engagée si, pour une raison échappant à son contrôle, l'Application a été partiellement ou totalement inaccessible, indisponible, interrompue ou de mauvaise qualité, notamment OUIEXPAT
                ne saurait être tenu responsable de tout acte ou omission d'un tiers intervenant à quelque titre que ce soit dans la fourniture de l'Application (opérateur de téléphonie mobile par exemple). L’Utilisateur reconnait que OUIEXPAT n’a aucune
                obligation à fournir des prestations de support et de mise à jour de l’Application.</p>
            </div>

            <div class="row no-margin">
              <div class="col s12 chapter"><span class="number">8.</span> Vie privée </div>
            </div>

            <div class="row">
              <p>OUIEXPAT s'engage à ce que la collecte et le traitement de données à caractère directement ou indirectement personnel, effectuées à partir de l'Application, soient effectués conformément à la loi française dite "Informatique et Libertés"
                n°78-17 du 6 janvier 1978. L'Utilisateur dispose d'un droit d'opposition au traitement par OUIEXPAT de ses données personnelles, d'un droit d'accès, de modification, de rectification et de suppression des données personnelles le concernant.
                L'utilisateur s'engage à respecter toutes les lois relatives à la protection des données personnelles et au respect de la vie privée lors de l’utilisation de l’application. L’utilisateur qui crée un compte via l’application OUIEXPAT, après
                avoir coché la case « J’ai lu et j’accepte les Conditions Générales d’Utilisation. », autorise l’éditeur à regrouper les informations récupérées sur son compte Facebook, LinkedIn, Twitter, Instagram et Google +, ainsi que les informations
                données dans le questionnaire au lancement de l’application, dans une base de données qui pourrait ensuite être utilisées à des fins commerciales. L’utilisateur pourra à tout moment demander à l’éditeur, d’effacer les informations le concernant,
                de lui transmettre ou de ne pas les utiliser à des fins commerciales, en en faisant la demande via la rubrique « contact » de l’application ou par tout autre moyen.</p>
            </div>


            <div class="row no-margin">
              <div class="col s12 chapter"><span class="number">9.</span> Modération </div>
            </div>

            <div class="row">
              <p>OUIEXPAT propose aux Utilisateurs de l’application, de contribuer à son contenu en déposant des contributions, les « témoignages, photos, articles etc… ». Le fait de déposer en ligne une contribution n’emporte pas publication automatique.
                OUIEXPAT conserve le droit de modérer les « partages » sans qu’aucun droit de dédommagement soit ouvert à l’utilisateur. Notamment, l’utilisateur qui dépose un « partage » s’engage à ce que qu’il respecte le droit des tiers, et ne puisse
                donner lieu à des actions fondées notamment sur le plagiat, la concurrence déloyale, la responsabilité civile ou bien encore les délits prévus par la loi du 29 juillet 1881. Par ailleurs les propos insultants, agressifs ou diffamatoires
                sont interdits. Il en va de même pour l’incitation à la violence, la haine raciale, l’homophobie et la négation des crimes contre l’humanité, des propos pornographiques ou délibérément choquants et les commentaires publiés dans un pur
                but commercial. OUIEXPAT se réserve le droit de supprimer la diffusion de toute contribution contraire aux lois, réglementations, ou procédures légales. Dans le cadre du service OUIEXPAT, vous pourrez recevoir des messages en mode « push
                » (SMS, e-mails, MMS, alertes, ou autres types de messages, dans l’Application ou en dehors de l’Application). Il est possible que certains de ces messages vous soient facturés par votre opérateur de téléphonie mobile, en fonction de votre
                abonnement. Dans cette éventualité, les frais issus de ces messages seraient à votre seule charge. En aucun cas il ne pourrait être demandé à OUIEXPAT de vous rembourser tout ou partie de ces frais de réception facturés par votre opérateur
                mobile.
              </p>
            </div>

            <div class="col s12 chapter"><span class="number">10.</span> Modification de l'Application </div>

            <div class="row">
              <p>OUIEXPAT se réserve le droit, à tout moment de modifier ou d'interrompre temporairement ou définitivement l'Application sans préavis.</p>
            </div>

            <div class="col s12 chapter"><span class="number">11.</span> Droit applicable </div>

            <div class="row">
              <p>Les présentes conditions générales d’utilisation sont soumises au droit français et à la compétence des tribunaux de Bordeaux. Liens hypertextes : L’usage des liens hypertextes mis en place dans le cadre de cette application en direction
                d’autres applications ou de sites internet ne saurait engager la responsabilité de OUIEXPAT qui n’a aucun contrôle sur leurs contenus.</p>
            </div>

            <div class="col s12 chapter"><span class="number">12.</span> Cookies </div>

            <div class="row">
              <p>Lors de la consultation de notre application web ou de notre site OUIEXPAT, des cookies sont déposés sur votre ordinateur, votre mobile ou votre tablette. Nos services sont conçus pour proposer une expérience de qualité en attente des besoins
                de nos utilisateurs. Dans cette optique, nous faisons usage de cookies afin par exemple de vous identifier et d’accéder à votre compte ou pour conserver certaines de vos actions dans l’interface.
              </p>
            </div>

          </div>

          <div class="row">
            <a class="btn-flat btn-white waves-effect center-align col s8 offset-s2" (click)="displayTerms = !displayTerms">Retour</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
