.register-form {
    color: #525356;
    height: 80%;
    margin-top: 10%;
}

h1 {
    font-size: 24px;
    font-family: "Capriola-Regular";
}

.title-icon {
    font-size: 24px;
    line-height: 110%;
    margin: 1.9rem 0 1.68rem;
}
