<div class="row">
    <div class="col m3 hide-on-small-only">
        <div class="row">
            <h1 class="col s12"><i class="icon icon-user"></i> Mon profil</h1>
        </div>
    </div>
    <div class="col s12 m9">
        <div class="row form-card">
            <div class="col m4 hide-on-small-only">
                <div class="row">
                    <div class="col m12">
                        <div class="row">
                            <img [src]="user.photo" alt="Avatar">
                            <a href=""><span class="icon icon-trash"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m8">
                <form (ngSubmit)="profilForm.form.valid && updateProfil()" #profilForm="ngForm">
                    <div class="row">
                        <div class="col s12 title">Photo de profil</div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <div class="row">
                                <div class="col s1 icon icon-information icon-gradient"></div>
                                <div class="col s11">
                                    Une image carrée au format 400x400 est recommandée pour un avatar de bonne qualité.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="file-field input-field">
                            <div class="btn-flat btn-white waves-effect center-align col s8">
                                <span>Télécharger un fichier <span class="icon icon-cloud-upload"></span></span>
                                <input type="file">
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col s12 title">Mes informations</div>
                    </div>
                    <div class="row no-margin">
                        <div class="input-field col s12">
                            <input id="email" placeholder="E-mail" name="email" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [(ngModel)]="user.email" required>
                            <label for="email">Adresse E-mail</label>
                        </div>
                    </div>
                    <div class="row no-margin">
                        <div class="input-field col s12">
                            <input id="lastname" placeholder="Prénom" name="lastname" type="text" [(ngModel)]="user.lastname" required>
                            <label for="lastname">Prénom</label>
                        </div>
                    </div>
                    <div class="row no-margin">
                        <div class="input-field col s12">
                            <input id="firstname" placeholder="Nom" name="firstname" type="text" [(ngModel)]="user.firstname" required>
                            <label for="firstname">Nom</label>
                        </div>
                    </div>

                    <div class="row no-margin">
                        <oe-date-inline class="col s12" label="Date de naissance" name="birthday" [(ngModel)]="user.birthday"></oe-date-inline>
                    </div>

                    <div class="row">
                        <div class="col s12">
                            <algolia-places name="address" [(ngModel)]="user.address"></algolia-places>
                        </div>
                    </div>

                    <div class="row">
                        <button class="btn btn-validate waves-effect col s8 offset-s4" type="submit" [disabled]="profilForm.invalid || profilForm.pristine">Sauvegarder et mettre à jour</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
