.form-card {
    padding: 24px;
}

.title {
    font-size: 16px;
    background: linear-gradient(301deg, #F7CB0A 0%, #00A2D8 100%) left bottom rgba(0, 0, 0, 0) no-repeat;
    background-size: 100% 1px;
    background-origin: content-box;
    font-family: "Capriola-Regular";
}

.icon-information {
    font-size: 34px;
}
