@import '../../../styles/utils/placeholders';
@import '../../../styles/utils/variables';

.form-card {
    padding: 24px;
}

.title {
    font-size: 16px;
    background: $linear-gradient left bottom rgba(0, 0, 0, 0) no-repeat;
    background-size: 100% 1px;
    background-origin: content-box;
    font-family: $capriola;
}

.icon-information {
    font-size: 34px;
}

.icon-gradient:before {
    background: linear-gradient(301deg, $yellow 0%, $blue 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

