// ================ //
// LOGO APP LOGIN (start)
// ================ //

.logo-app {
  margin: 0 auto;
  max-width: 350px;

  @media screen and (max-width: 375px) { max-width: 260px;}
}

// ================ //
// LOGO APP LOGIN (end)
// ================ //

.back {

  .icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    font-size: 20px !important;
  }
}