<div class="dashboard">
    <oe-navbar></oe-navbar>
    <div class="container">
        <div class="row no-margin">
            <div class="col l4 hide-on-med-and-down">
                <oe-widget-profil></oe-widget-profil>
            </div>
            <div class="col s12 m12 l8">
                <div class="row no-margin">
                    <div class="col s12">
                        <oe-widget-expatriations></oe-widget-expatriations>
                    </div>
                </div>
                <div class="row">
                    <div class="col s6">
                        <oe-widget-favoris></oe-widget-favoris>
                    </div>
                    <div class="col s6">
                        <oe-widget-actus></oe-widget-actus>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
