@import '../../../../styles/utils/variables';

.btn-like {
    cursor: pointer;

    &:hover {
        color: $blue;
    }

    &.liked {
        color: $red;
    }
}

.card-content {
    min-height: 194px;
}

.card-image {
    min-height: 200px;
}

.card-title {
    background-image: url("/assets/img/shadown-thumbnail.png");
    background-repeat: repeat-x;
}
