<div class="row">
    <div class="col xs12 s12 m6 l4" *ngFor="let blog of blogs">
        <div class="card">
            <div class="card-image">
                <img [src]="blog.image">
                <span class="card-title full-width">
                  <div class="row no-margin-bottom">
                      <div class="col s12"><h5 class="inner-space-right-40">{{blog.name}}</h5></div>

                      <!-- TODO add class active on class btn-fav when fav select action -->
                    <span class="btn-fav" [class.fav]="isFav(blog)" (click)="addOrRemoveToFav(blog)">
                        <span class="animation-fav"></span>
                        <i class="icon icon-star"></i>
                    </span>
                  </div>
                </span>
            </div>
            <div class="card-content">
                <div class="row">
                    <div class="col s10">{{blog.category}}</div>
                    <div class="col s2 right-align"><span class="btn-like" [class.liked]="isLiked(blog)" (click)="likeOrDislike(blog)"><i class="icon icon-heart"></i></span> {{blog.likes.length}}</div>
                </div>
                <p>{{blog.details | truncate:[200]}}</p>
            </div>
            <div class="card-action">
                <div class="row no-margin-bottom">
                    <button class="btn btn-validate waves-effect col s5 offset-s7" (click)="visite(blog)" [disabled]="!blog.link">Visiter</button>
                </div>
            </div>
        </div>
    </div>
</div>
