@import '../../../../styles/utils/variables';


.card-title {
  padding-bottom: 10px !important;

  .btn-fav {
    position: absolute;
    right: 17px;
    bottom: 14px;
  }
}

.card-content {

  .card-content-intro {
    position: relative;

    .action-like {
      position: absolute;
      right: -15px;
      top: 50%;
      transform: translate(-50%, -50%);

      &.liked {
        .value-like {
          color: $blue;
        }
      }

      .btn-like {
        display: inline-block;
        vertical-align: middle;
      }

      .value-like {
        display: inline-block;
        vertical-align: middle;
        font-weight: bold;
      }
    }
  }
}
