<div>
    <div class="row">
        <div class="col s12 m6 l6">
            <div class="card">
                <div class="card-content black-text">
                    <h2><i class="icon icon-user-group"></i> Utilisateurs</h2>
                    <h4 class="card-stats-number">{{ statistics.users?.count.total }}</h4>
                    <p class="card-stats-last">Dernier utilisateur : <span>{{ statistics.users?.last.firstname + ' ' + statistics.users?.last.lastname }}</span></p>
                    <p class="card-stats-compare"><span>{{ statistics.users?.count.month }}</span> ce mois-ci</p>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l6">
            <div class="card">
                <div class="card-content black-text">
                    <h2><i class="icon icon-location"></i> Expatriations</h2>
                    <h4 class="card-stats-number">{{ statistics.expatriations?.count.total }}</h4>
                    <p>Dernière destination : <span>{{ statistics.expatriations?.last.location.value }}</span></p>
                    <p><span>{{ statistics.expatriations?.count.month }}</span> ce mois-ci</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
    </div>

</div>