<div class="form-card widget">
  <div class="zone-infos-profil">
    <div class="row no-margin">
      <div class="col s4 offset-s4 avatar">
        <img [src]="user.photo" alt="Profil" height="85" class="circle">
      </div>

      <div class="col s4 right-align">
        <a routerLink="/profil" class="icon link large white-text icon-gear"></a>
      </div>
    </div>
    <div class="row no-margin">
      <span class="col s12 center-align white-text user-name">{{ user.lastname }} {{ user.firstname }}</span>
      <h3 class="col s12 center-align white-text title-widget">Activités</h3>
    </div>
  </div>
  <div class="content">
    <ul class="list-widget-profil">
      <li *ngFor="let history of user.history | reverse" class="row list-widget-profil-item">
       <span class="in-widget-profil" [ngClass]="['type', 'valign-wrapper', history.type]">
            <i class="icon"
               [class.icon-user]="(history.type === 'account')"
               [class.icon-star]="(history.type === 'favorites')"
               [class.icon-heart]="(history.type === 'likes')"
               [class.icon-location]="(history.type === 'expatriation')"></i>
        </span>

        <!-- TODO Connect date and hour activity -->
        <div class="col s12 date-widget-profil">
          <div class="row force-space-bottom-3">
            <div class="col s6">00/00/00</div>
            <div class="col s6 text-right">00:00</div>
          </div>
        </div>
        <div class="col s12 text-widget-profil">{{history.details}}</div>
      </li>
    </ul>
  </div>
</div>
