@import '../utils/_variables';

body {
    font-size: 14px;
    @media screen and (max-width: 320px) {
        font-size: 10px;
    }
    font-family: $open-sans;
    color: $primary-color;
}

h1 {
    font-size: 24px;
    font-family: $capriola;
    @media screen and (max-width: 320px) {
        font-size: 16px;
    }
}

h2 {
    font-size: 20px;
    font-family: $capriola;
    @media screen and (max-width: 320px) {
        font-size: 12px;
    }
}

h3 {
    font-size: 18px;
    font-family: $capriola;
    @media screen and (max-width: 320px) {
        font-size: 10px;
    }
}

h4 {
    font-size: 16px;
    font-family: $capriola;
    @media screen and (max-width: 320px) {
        font-size: 8px;
    }
}


.icon-gradient:before {
    background: linear-gradient(301deg, $yellow 0%, $blue 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
