@import '../utils/variables';

// ================ //
// LOADIGN APP (start)
// ================ //

.loading-app {
  display: block;
  height: 100vh;
  width: 100%;
  background-color: $white-grey;

  .spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100px;
    width: 100px;
    background-image: url($img-path + "spinner-rounded-blue.svg");
    background-size: 100%;
    background-position: center center;
  }
}

// ================ //
// LOADIGN APP (end)
// ================ //

// ================ //
// FORM CARD (start)
// ================ //

.form-card {
  border-radius: 3px;
  background-color: $white;
  padding: 0 24px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);

  &.has-padding {
    padding: 24px;
  }
}

// ================ //
// FORM CARD (end)
// ================ //

// ================ //
// TITLE WIDGETS and SECTIONS (start)
// ================ //

.title {
  margin-top: 18px !important;
  margin-bottom: 10px !important;
  padding: 5px;
  font-size: 20px;
  font-family: "Capriola-Regular";

  i {
    @extend %dsplInlineIcon;
  }
}

.title-section {
  margin-top: 0;
  margin-bottom: 10px !important;
  padding: 5px;
  font-size: 20px;
  font-family: "Capriola-Regular";

  i {
    @extend %dsplInlineIcon;
  }
}


// ================ //
// TITLE WIDGETS and SECTIONS (end)
// ================ //

// ================ //
// SUBTITLE (start)
// ================ //

.subtitle {
  background: $linear-gradient left bottom rgba(0, 0, 0, 0) no-repeat;
  background-size: 100% 1px;
  background-origin: content-box;
  background-position: 0 28px;
  padding-bottom: 15px;
}

// ================ //
// SUBTITLE (end)
// ================ //

// ================ //
// BLOCK ACTION BAR (start)
// ================ //

.action-bar {
  margin-top: 40px;

  @media screen and (max-width: 414px) {
    text-align: center;

    button {
      margin-bottom: 15px;
    }
  }
}

// ================ //
// BLOCK ACTION BAR (end)
// ================ //

// ================ //
// MESSAGE EMPTY BLOCK (start)
// ================ //

.empty-block {
  position: relative;
  font-family: $capriola;
  font-size: 12px;

  &.widget {
    background-color: transparent !important;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0),
    0 0 0 0 rgba(0, 0, 0, 0),
    0 0 0 0 rgba(0, 0, 0, 0) !important;
  }

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    height: 100%;
    width: 100%;
    padding: 24px;
    background-color: white !important;
    background-size: calc(80% - 48px);
    background-position: 20% center;
    background-repeat: repeat-y;
    background-image: url($img-path + "empty-line.png");
    content: '';
    @extend %blurEffect;
    z-index: 0;
  }

  .empty-message {
    z-index: 1;

    .icon {
      font-size: 34px;
      animation: fadeInScale 440ms ease;
      z-index: 1;
    }

    p {
      margin-top: 0;
      padding: 0 10%;
      animation: fadeInScale 440ms ease;
      z-index: 1;
    }
  }
}

// ================ //
// MESSAGE EMPTY BLOCK (end)
// ================ //

// ================ //
// INFOS MESSAGE (start)
// ================ //

.infos-message {
  position: relative;

  img {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -38%);
    height: 90%;
    max-height: 150px;

    @media screen and (max-width: 600px) {
     display: none;
    }
  }

  .text-message {
    padding: 35px 15% 35px 40%;

    @media screen and (max-width: 600px) {
      display: block;
      padding: 35px 10% 35px 10%;
    }
  }
}

// ================ //
// INFOS MESSAGE (end)
// ================ //



// ================ //
// OVERIDE SIDE (start)
// ================ //

.form-card {
  border-radius: 3px;
  background-color: $white;
  padding: 0 14px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

// ================ //
// FORM CARD (end)
// ================ //

// ================ //
// HEADER SECTION (start)
// ================ //

.header-section {
  margin-top: 15px;
  margin-bottom: 25px;

  h1 {
    font-size: 34px;
    margin: 0;
    color: $green-expat;
  }

  .sub {
    display: block;
    margin-top: 5px;
  }
}

// ================ //
// HEADER SECTION (end)
// ================ //

// ================ //
// BACK (start)
// ================ //

.back {
  @extend %transition;
  opacity: 0.5;

  &.back-white {
    .icon { color: white;}
    a { color: white;}
  }

  &:hover,
  &:focus,
  &:active,
  &:visited {
    @extend %transition;
    opacity: 1;
  }

  .icon {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;

    @media screen and (max-width: 320px) {
      font-size: 8px;
    }
  }

  a {
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    color: $text-color;
    cursor: pointer;

    @media screen and (max-width: 320px) {
      font-size: 10px;
    }
  }
}

// ================ //
// BACK (end)
// ================ //
