<div class="row">
    <div class="col m3 hide-on-small-only">
        <div class="row no-margin">
            <h1 class="col s12"><i class="icon icon-location"></i> Mes expatriations</h1>
        </div>
        <div class="row">
            <button class="btn btn-validate waves-effect col s12"><i class="material-icons right">add</i>Créer une expatriation</button>
        </div>
        <div class="row">
            <h4 class="subtitle">A venir(s)</h4>
            <ul class="expatriations">
                <li *ngFor="let expat of (user?.expeditions | dateFilter:['date','now'])" class="row no-margin" [class.selected]="(currentExpat?._id === expat._id)" (click)="currentExpat = expat">
                    <div class="col s8">
                        {{expat?.location.country}}
                    </div>
                    <div class="col s4 right-align"><i class="icon icon-chevron-right"></i></div>
                </li>
            </ul>
        </div>

        <div class="row">
            <h4 class="subtitle">Passée(s)</h4>
            <ul class="expatriations">
                <li *ngFor="let expat of (user?.expeditions | dateFilter:['date','now', 'before'])" class="row no-margin" [class.selected]="(currentExpat?._id === expat._id)" (click)="currentExpat = expat">
                    <div class="col s8">
                        {{expat?.location.country}}
                    </div>
                    <div class="col s4 right-align"><i class="icon icon-chevron-right"></i></div>
                </li>
            </ul>
        </div>
    </div>
    <div class="col s12 m8 offset-m1">
        <div class="form-card">
            <div class="row">
                <leaflet [location]="currentExpat.location.geometry.coordinate"></leaflet>
            </div>
        </div>
        <div class="form-card">
            {{currentExpat | json}}
        </div>
    </div>
</div>
