<div class="row">
  <div class="col m4 l3 hide-on-small-only">
    <div class="row">
      <div class="col s12 no-padding title-section">
        <i class="icon icon-location"></i> Mes expatriations
      </div>
    </div>
    <div class="row">
      <button class="btn btn-validate waves-effect col s12" (click)="createExpatriation()" [disabled]="expatriations.length === 0"><i class="material-icons right">add</i>Créer une expatriation</button>
    </div>
    <div class="row">
      <h4 class="subtitle">A venir(s)</h4>
      <div *ngIf=" (expatriations | dateFilter:['date','now']).length === 0">
        <div class="col s12">
          <span class="icon icon-information icon-gradient dspl-inbl vert-align-middle space-top-2 space-right-5"></span>
          <p class="dspl-inbl vert-align-middle">Aucunes expatriations à venirs</p>
        </div>
      </div>
      <ul class="expatriations">
        <li *ngFor="let expat of (expatriations | dateFilter:['date','now'])" class="row no-margin" [class.selected]="(currentExpat?._id === expat._id)" (click)="currentExpat = expat">
          <div class="valign-wrapper expat">
            <div class="row no-margin">
              <div class="col s12 space-bottom-5 date">
                <i class="icon icon-calendar"></i> {{expat?.date | date:"dd/MM/yy"}}
              </div>
              <div class="col s12 info">
                <img [src]="'http://www.geonames.org/flags/x/' + expat?.location.countryCode + '.gif'" height="12" width="18" alt=""> {{expat?.location.country}} - {{expat?.location.name}}
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="row">
      <h4 class="subtitle">Passée(s)</h4>
      <div *ngIf="(expatriations | dateFilter:['date','now', '<']).length === 0">
        <div class="col s12">
          <span class="icon icon-information icon-gradient dspl-inbl vert-align-middle space-top-2 space-right-5"></span>
          <p class="dspl-inbl vert-align-middle small-txt">Aucunes expatriations à passée(s)</p>
        </div>
      </div>
      <ul class="expatriations">
        <li *ngFor="let expat of (expatriations | dateFilter:['date','now', '<'])" class="row no-margin" [class.selected]="(currentExpat?._id === expat._id)" (click)="currentExpat = expat">
          <div class="valign-wrapper expat">
            <div class="row no-margin">
              <div class="col s12 space-bottom-5 date">
                <i class="icon icon-calendar"></i> {{expat?.date | date:"dd/MM/yy"}}
              </div>
              <div class="col s12 info">
                <img [src]="'http://www.geonames.org/flags/x/' + expat?.location.countryCode + '.gif'" height="12" width="18" alt=""> {{expat?.location.country}} - {{expat?.location.name}}
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="col s12 m7 l8 offset-m1 offset-l1" *ngIf="expatriations.length === 0">
    <div class="form-card full-height valign-wrapper">
      <span class="illu-no-expat"><img src="assets/img/expat.png" alt="checklists"></span>
      <div class="col s12 valign text-no-expat">
        <div class="row">
          <div class="col s12 center-align">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
        </div>
        <div class="row">
          <a routerLink="/auth/first" class="btn btn-validate waves-effect col s12">Créer mon expatriation</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 m7 l8 offset-m1 offset-l1" *ngIf="expatriations.length > 0">
    <div class="form-card map">
      <div class="row no-margin full-width">
        <div class="col s12 m7 container-infos-expat">
          <div class="destination">
            <div class="row">
              <div class="country">
                <div class="col s5">{{user.address?.country}}</div>
                <div class="col s2"><i class="material-icons" [hidden]="!user.address.country">arrow_forward</i></div>
                <div class="col s5 right-align">{{currentExpat.location?.country}}</div>
              </div>
              <div class="name">
                <div class="col s5">{{user.address?.name}}</div>
                <div class="col s5 offset-s2 right-align">{{currentExpat.location?.name}}</div>
              </div>
            </div>
            <div class="row">
              <div class="col s12 name">le {{currentExpat.date | date:"dd/MM/yy"}}</div>
            </div>
          </div>
        </div>
        <leaflet class="col s12 m5 leaflet-map" [location]="currentExpat.location?.geometry?.coordinate"></leaflet>
      </div>
    </div>

    <div class="form-card has-padding">
      <form (ngSubmit)="expatForm.form.valid && save()" #expatForm="ngForm">
        <div class="row no-margin">
          <div class="col s12">
            <h4 class="subtitle">Détails</h4>
          </div>
        </div>
        <div class="row no-margin">
          <div class="col s8">
            <algolia-places name="address" [(ngModel)]="currentExpat.location" [disabled]="!currentExpat.isNew" (change)="onLocationChange($event)"></algolia-places>
          </div>

          <div class="input-field col s4">
            <input id="date" name="date" type="text" materialize="pickadate" [value]="currentExpat.date | date:'yyyy-MM-dd'" [materializeParams]="[formDateOptions]" [(ngModel)]='currentExpat.date'>
          </div>
        </div>


        <div class="row no-margin">
          <div class="col s12">
            <h4 class="subtitle">Vos besoins</h4>
          </div>
        </div>

        <ul class="row no-margin list-check-area">
            <li class="list-check-area-item">
                <div class="check-area">
                    <input name="things" type="checkbox" id="things" value="things" [checked]="isSelectedList('things')" (change)="updateCheckedLists($event)" ngModel/>
                    <label for="things">
                        <i class="icon icon-key"></i>Logement
                    </label>
                </div>
            </li>
            <li class="list-check-area-item">
                <div class="check-area">
                    <input name="administrative" type="checkbox" id="administrative" value="administrative" [checked]="isSelectedList('administrative')" (change)="updateCheckedLists($event)" ngModel/>
                    <label for="administrative">
                        <i class="icon icon-document"></i>Administratif
                    </label>
                </div>
            </li>
        </ul>

        <div class="row action-bar">
          <div class="col s12">
            <div class="row no-margin">
              <div class="col s12 m6">
                <button type="button" class="btn btn-red waves-effect has-icon-left" (click)="delete()" [disabled]="currentExpat.isNew"><i class="icon icon-trash"></i> Supprimer</button>
              </div>
              <div class="col s12 m6 text-right-desktop">
                <button type="submit" class="btn btn-validate waves-effect has-icon-left" [disabled]="expatForm.invalid || expatForm.pristine"><i class="icon icon-checkmark"></i>Sauvegarder</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
