@import '../../../styles/utils/placeholders';
@import '../../../styles/utils/variables';
@import '../../../styles/utils/mixins';

.subtitle {
    background: $linear-gradient left bottom rgba(0, 0, 0, 0) no-repeat;
    background-size: 100% 1px;
    background-origin: content-box;
    background-position: 0 24px;
    padding-bottom: 20px;
    margin: 2.1rem 0 1.68rem;
}

ul.expatriations {
    li {
        height: auto;
        padding: 10px 5px 8px 5px;
        border-bottom: 1px solid $grey-light;
        @extend %transition;
    }

    li.selected,
    li.selected:hover {
        color: $white;
        background: $linear-gradient;

      .expat {
        &:after {
          color: $white;
        }
      }
    }

    li:hover {
        @extend %transition;
        background: rgba(212, 214, 223, .2);
        cursor: pointer;
    }
}

.map {
    padding-right: 0;
}

.expat{
  position: relative;
  padding-right: 20px;

  &:after {
    font-family: ouiexpat;
    position: absolute;
    top: 50%;
    right: -10px;
    transform: translate(-50%, -50%);
    content: '\58';
    font-size: 24px;
    color: $grey-light;
  }

  .info{
    font-family: $capriola;
  }

  .ico {
    font-size: 24px;
    padding-top: 5px;
}
}
