<div class="row">
    <div class="col m3 hide-on-small-only">
        <div class="row">
            <div class="col s12 no-padding title-section">
                <i class="icon icon-location"></i> Mes expatriations
            </div>
        </div>
        <div class="row">
            <button class="btn btn-validate waves-effect col s12" (click)="createExpatriation()"><i class="material-icons right">add</i>Créer une expatriation</button>
        </div>
        <div class="row">
            <h4 class="subtitle">A venir(s)</h4>
            <div *ngIf=" (expatriations | dateFilter:['date','now']).length === 0">
                <div class="col s2 icon icon-information icon-gradient"></div>
                <div class="col s10">
                    Aucunes expatriations à venirs.
                </div>
            </div>
            <ul class="expatriations">
                <li *ngFor="let expat of (expatriations | dateFilter:['date','now'])" class="row no-margin" [class.selected]="(currentExpat?._id === expat._id)" (click)="currentExpat = expat">
                    <div class="valign-wrapper expat">
                        <div class="row no-margin">
                            <div class="col s12 space-bottom-5">
                                <i class="icon icon-calendar"></i> {{expat?.date | date:"dd/MM/yy"}}
                            </div>
                            <div class="col s12 info">
                                <img [src]="'http://www.geonames.org/flags/x/' + expat?.location.countryCode + '.gif'" height="12" width="18" alt=""> {{expat?.location.country}} - {{expat?.location.name}}
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="row">
            <h4 class="subtitle">Passée(s)</h4>
            <div *ngIf="(expatriations | dateFilter:['date','now', '<']).length === 0">
                <div class="col s2 icon icon-information icon-gradient"></div>
                <div class="col s10">
                    Aucunes expatriations passées.
                </div>
            </div>
            <ul class="expatriations">
                <li *ngFor="let expat of (expatriations | dateFilter:['date','now', '<'])" class="row no-margin" [class.selected]="(currentExpat?._id === expat._id)" (click)="currentExpat = expat">
                    <div class="valign-wrapper expat">
                        <div class="row no-margin">
                            <div class="col s12 space-bottom-5">
                                <i class="icon icon-calendar"></i> {{expat?.date | date:"dd/MM/yy"}}
                            </div>
                            <div class="col s12 info">
                                <img [src]="'http://www.geonames.org/flags/x/' + expat?.location.countryCode + '.gif'" height="12" width="18" alt=""> {{expat?.location.country}} - {{expat?.location.name}}
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="col s12 m8 offset-m1" *ngIf="expatriations.length === 0">
        <div class="form-card full-height valign-wrapper">
            <span class="col s3 offset-s2"><img src="assets/img/expat.png" alt="checklists"></span>
            <span class="col s5 valign">
              <div class="row">
                <div class="col s12 center-align">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
              </div>
              <div class="row">
                <a routerLink="/auth/first" class="btn btn-validate waves-effect col s12">Créer mon expatriation</a>
              </div>
            </span>
        </div>
    </div>
    <div class="col s12 m8 offset-m1" *ngIf="expatriations.length > 0">
        <div class="form-card map">
            <div class="row">
                <div class="col s7 container-infos-expat">

                </div>
                <leaflet class="col s5 right force-inner-space-left-0" [location]="currentExpat.location?.geometry?.coordinate"></leaflet>
            </div>
        </div>
        <div class="form-card has-padding">
            <form (ngSubmit)="expatForm.form.valid && save()" #expatForm="ngForm">
                <div class="row no-margin">
                    <div class="col s12">
                        <h4 class="subtitle">Détails</h4>
                    </div>
                </div>
                <div class="row no-margin">
                    <div class="col s8">
                        <algolia-places name="address" [(ngModel)]="currentExpat.location" [disabled]="!currentExpat.isNew" (change)="onLocationChange($event)"></algolia-places>
                    </div>

                    <div class="input-field col s4">
                        <input id="date" name="date" type="text" materialize="pickadate" [materializeParams]="[formDateOptions]" [(ngModel)]='currentExpat.date' required>
                    </div>
                </div>


                <div class="row action-bar">
                    <div class="col s12">
                        <div class="row no-margin">
                            <div class="col s12 m6">
                                <button type="button" class="btn btn-red waves-effect has-icon-left" (click)="delete()" [disabled]="currentExpat.isNew"><i class="icon icon-trash"></i> Supprimer</button>
                            </div>
                            <div class="col s12 m6 text-right">
                                <button type="submit" class="btn btn-validate waves-effect has-icon-left" [disabled]="expatForm.invalid || expatForm.pristine"><i class="icon icon-checkmark"></i>Sauvegarder</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
