.subtitle {
    background: linear-gradient(301deg, #F7CB0A 0%, #00A2D8 100%) left bottom rgba(0, 0, 0, 0) no-repeat;
    background-size: 100% 1px;
    background-origin: content-box;
    margin: 2.1rem 0 1.68rem;
}

ul.expatriations {
    li {
        line-height: 54px;
        padding: 0 10px;
        border-bottom: 1px solid #D4D6DF;

    }

    li.selected,
    li.selected:hover {
        color: #FFF;
        background: linear-gradient(301deg, #F7CB0A 0%, #00A2D8 100%);
    }

    li:hover {
        background: rgba(212, 214, 223, .2);
        cursor: pointer;
    }

}
