<div class="login-form form-card">

    <div class="row no-margin">
        <h1 class="col s8">Se connecter</h1>
        <span class="col s4 title-icon right-align"><i class="icon icon-lock"></i></span>
    </div>

    <form action="">
        <div class="row no-margin">
            <div class="input-field col s12">
                <input id="email" type="text" class="validate">
                <label for="email">Adresse E-mail</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="password" type="text" class="validate">
                <label for="password">Mot de passe</label>
            </div>
        </div>
        <div class="row">
            <button class="btn btn-connect col s8 offset-s2" type="submit">Se connecter</button>
        </div>
    </form>

    <div class="register-link center-align">
      Pas de compte ? Inscrivez-vous !
    </div>

</div>
