<div class="row">
    <div class="col s12 m8 l4 offset-m2 offset-l4">
        <div class="row text-center force-space-bottom-0">
            <img src="/assets/img/logo.svg" alt="Logo Ouiexpat" class="logo-app"/>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="auth-form form-card">

                    <div class="row no-margin">
                        <h1 class="col s8">Se connecter</h1>
                        <span class="col s4 title-icon right-align"><i class="icon icon-lock"></i></span>
                    </div>

                    <form (ngSubmit)="loginForm.form.valid && login(loginForm.value)" #loginForm="ngForm">
                        <div class="row no-margin">
                            <div class="input-field col s12">
                                <input id="email" name="email" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" class="validate" ngModel required>
                                <label for="email">Adresse E-mail *</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="password" name="password" type="password" class="validate" ngModel required>
                                <label for="password">Mot de passe *</label>
                                <div class="reset-password"><a routerLink="/auth/reset_password">Oublier <i class="icon icon-question"></i></a></div>
                            </div>
                        </div>

                        <div class="row">
                            <button class="btn btn-validate waves-effect col s8 offset-s2" type="submit" [disabled]="loginForm.invalid">Se connecter</button>
                        </div>
                    </form>

                    <div class="register-link center-align">
                        <a routerLink="/auth/register">Pas de compte ? Inscrivez-vous !</a>
                    </div>

                </div>
            </div>
        </div>
        <div class="row back back-white center-align">
            <div class="col s12">
                <i class="icon icon-arrow-thin-left"></i>
                <a href="http://www.ouiexpat.com">Retour au site</a>
            </div>
        </div>
    </div>
</div>
