@import "../auth.component.scss";

.register-link {
    height: 54px;
    line-height: 54px;
    border-radius: 3px;
    background-color: $yellow;
    font-weight: 600;
    margin: 40px -24px 0;
    color: $text-color;
    
    a,
    a:focus,
    a:visited {
        cursor: pointer;
        color: $text-color;
    }
}
