@import '../auth.component.scss';
@import '../../../styles/utils/placeholders';
@import '../../../styles/utils/variables';
@import '../../../styles/utils/mixins';

.logo-login {
    max-width: 200px;
}

.register-link {
    height: 54px;
    line-height: 54px;
    border-radius: 3px;
    background-color: $yellow;
    font-weight: 600;
    margin: 40px -14px 0;
    @extend %transition;

    &:hover {
        @extend %transition;
        background-color: lighten($yellow, 10%);
    }

    a {
        display: block;
        height: 100%;
        width: 100%;
    }
}

.reset-password {
    position: absolute;
    right: 8px;
    top: 13px;

    a {
        color: $blue;
        opacity: 0.5;
        @extend %transition;

        i {
            display: inline-block;
            vertical-align: middle;
            margin-left: 5px;
        }

        &:hover, &:focus {
            @extend %transition;
            opacity: 1;
        }
    }
}