<div *ngIf="expatriations.length === 0">
    <div class="row full-height valign-wrapper">
        <span class="col s3 offset-s2"><img src="assets/img/checklist.png" alt="checklists"></span>
        <span class="col s5 valign">
          <div class="row">
            <div class="col s12 center-align">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
          </div>
          <div class="row">
            <a routerLink="/auth/first" class="btn btn-validate waves-effect col s12">Créer mon expatriation</a>
          </div>
        </span>
    </div>
</div>
<div *ngIf="expatriations.length > 0">
    <div class="row">
        <div class="col s6">
            <select name="expatSelected" materialize="material_select" [(ngModel)]="expatSelected">
              <option *ngFor="let expat of expatriations; index as i" [ngValue]="expat" [attr.selected]="i == 0">{{expat.location.country}}</option>
            </select>
        </div>
        <div class="col s6">
            <div class="row right">
                <div *ngFor="let list of expatSelected?.lists" class="col s1 offset-s2">
                    <div class="list-icon">
                        <div class="icon" [ngClass]="list.icon"></div>
                    </div>
                </div>
                <div class="col s1 offset-s2">
                    <div class="list-icon add">
                        <div class="icon icon-plus"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
      <oe-list *ngFor="let list of expatSelected?.lists" class="col s4" [list]="list"></oe-list>
    </div>

</div>
