@import '../../../styles/utils/placeholders';
@import '../../../styles/utils/helpers';
@import '../../../styles/utils/variables';

.list-icon {
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
    background-color: #6EB6A8;
    color: $white;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.14);

    .icon {
        margin-left: 12px;
    }

    &.add {
        background-color: $white-grey;
        color: $grey;
        border: 1px dashed $grey;
        box-shadow: none;
    }
}
