<div>
    <header>
        <nav >
            <div class="nav-wrapper">
                <a href="" data-activates="mobile-nav" class="button-collapse" materialize="sideNav" [materializeParams]="[{edge:'left'}]"><i class="material-icons">menu</i></a>
                <ul class="right">
                    <li>
                        <a routerLink="/dashboard">
                            <i class="material-icons">exit_to_app</i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <ul id="mobile-nav" class="side-nav custom-side-nav fixed" style="width: 240px;">
            <li>
                <div class="user">
                    <div class="chip white-text">
                        <img [src]="user?.photo" alt="User image"> {{user?.lastname + ' '+ user?.firstname}}
                    </div>
                </div>
            </li>
            <li>
                <a class="waves-effect waves-grey" routerLink="/admin/dashboard" routerLinkActive="current">
                    <i class="material-icons">airplay</i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a class="waves-effect waves-grey" routerLink="/admin/users" routerLinkActive="current">
                    <i class="material-icons">perm_identity</i>
                    <span>Utilisateurs</span>
                    <span class="indicator">{{ statistics.users?.count.total }}</span>
                </a>
            </li>
            <li>
                <a class="waves-effect waves-grey">
                    <i class="material-icons">list</i>
                    <span>Checklists</span>
                </a>
            </li>
            <li>
                <a class="waves-effect waves-grey">
                    <i class="material-icons">description</i>
                    <span>Blogs</span>
                    <span class="indicator">{{ statistics.blogs?.count.total }}</span>
                </a>
            </li>
            <li>
                <a class="waves-effect waves-grey">
                    <i class="material-icons">store</i>
                    <span>Associations</span>
                    <span class="indicator">{{ statistics.associations?.count.total }}</span>
                </a>
            </li>
            <li>
                <a class="waves-effect waves-grey">
                    <i class="material-icons">work</i>
                    <span>Offres d'emploi</span>
                </a>
            </li>
        </ul>
    </header>
    <main>
        <router-outlet></router-outlet>
    </main>
</div>
