@import '../../../styles/utils/variables';
@import '../../../styles/utils/placeholders';

.footer {
  width: 85%;
  margin: 0 auto;
  padding: 25px 0;

  .logo-footer {
    display: inline-block;
    height: 30px;
    width: 150px;
    background-image: url(/assets/img/logo-ouiexpat-grey.png);
    background-position: left center;
    background-size: 100%;
    background-repeat: no-repeat;

    @media only screen and (min-width: 370px) {
      background-position: center center;
    }
  }
}

.nav-footer {
  ul {
    margin: 3px 0;

    li {
      display: inline-block;
      vertical-align: middle;
      color: $grey-light;
      opacity: 0.5;
      @extend %transition;
      cursor: pointer;

      @media only screen and (min-width: 370px) {
        text-align: center;
      }

      &:hover, &:focus {
        @extend %transition;
        opacity: 1;
      }

      a {
        padding: 5px 10px;
        font-size: 12px;
        font-weight: bold;
      }
    }
  }
}