<div class="row footer">
  <div class="col s12 m3 no-padding"><span class="logo-footer"></span></div>
  <div class="col s12 m6 nav-footer">
    <ul>
      <li><a routerLink="/faq" routerLinkActive="current">FAQ</a></li>
      <li><a routerLink="/mentions" routerLinkActive="current">Politique de confidentialité</a></li>
      <li><a href="mailto:contact@ouiexpat.com" routerLinkActive="current">Contact</a></li>
      <li><a href="http://ouiexpat.com" target="_blank">Site</a></li>
    </ul>
  </div>
  <div class="col s12 m3 copyright-container">
    <span class="copyright-logo"></span>
    © Copyright - Ouiexpat
  </div>
</div>
