<div>
    <div class="row no-margin no-padding title">
        <div class="col s12 no-padding"><i class="icon icon-star"></i> Favoris</div>
    </div>
    <div class="widget form-card empty-block">
        <div class="row full-height">
            <div class="valign-wrapper full-height">
                <div class="valign center-align empty-message">
                    <div><i class="icon icon-information icon-gradient"></i></div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- TODO Review List Favoris -->
    <!--  <div class="widget widget-favoris form-card">
        <div class="row full-height no-margin">
            <ul class="list-favoris">
                <li class="list-favoris-item">
                    <div class="type-content">
                        <img src="http://www.visitberlin.de/sites/default/files/imagecache/high_l_slideshow_580_237/berlin_skyline_bei_sonnenuntergang.png">
                        <span class="type">
                            <i class="icon-work"></i>
                            <h6>Emplois</h6>
                        </span>
                        <i class="type-icon icon-star"></i>
                    </div>
                    <div class="desc-content s12">
                        <p class="desc">Donec tincidunt gravida lacus eget lacinia.</p>
                        <a href="" class="link secondary-text"><i class="icon-link"></i>Accéder au blog</a>
                    </div>
                </li>
            </ul>
        </div>
    </div> -->
</div>
