<div>
    <div class="row no-margin title">
        <div class="col s12"><i class="icon icon-star"></i> Favoris</div>
    </div>
    <div class="widget form-card empty">
        <div class="row empty full-height">
            <div class="valign-wrapper full-height">
                <div class="valign center-align">
                    <div><i class="icon icon-information icon-gradient"></i></div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>
    </div>
</div>
