@import "../../dashboard.component.scss";

.title {
    margin-top: 5px;
    padding: 5px;
    font-size: 24px;
    font-family: "Capriola-Regular";
}

.widget {
    background: #F8F8F8;
    height: calc(100vh - 315px);
}
