<div class="card">
  <div class="card-image">
    <img [src]="entity.image">
    <div class="card-title full-width">
      <div class="row no-margin-bottom">
        <div class="col s12">
          <h5 class="inner-space-right-40">{{entity.name}}</h5>
        </div>
        <span class="btn-fav" [class.active]="isFav" (click)="addOrRemoveToFav(entity)">
          <span class="animation-fav"></span>
          <i class="icon icon-star"></i>
        </span>
      </div>
    </div>
  </div>
  <div class="card-content">
    <div class="row card-content-intro">
      <!-- <div class="col s12">{{entity.category}}</div> -->
      <div class="action-like" [class.liked]="isLiked">
        <span class="btn-like" [class.liked]="isLiked" (click)="likeOrDislike(entity)">
                            <span class="animation-like"></span>
        <i class="icon icon-like-ouiexpat"></i>
        </span>
        <span class="value-like">{{entity.likes.length}}</span>
      </div>
    </div>
    <p>{{entity.details | truncate:[200]}}</p>
  </div>
  <div class="card-action">
    <div class="row no-margin-bottom">
      <button class="btn btn-validate waves-effect col s5 offset-s7" (click)="seeDetail(entity)">Découvrir</button>
    </div>
  </div>
</div>
