@import '../../../styles/utils/variables';


.review {
  position: relative;
  border: solid 1px $line-color;
  margin: 20px 0 0 0;
  padding: 15px 5px 0 5px;
  border-radius: 3px;

  &:first-child {
    margin-top: 0;
  }

  .content-review {
    padding-left: 74px;
  }

  .circle {
    position: absolute;
    left: 15px;
    top: 15px;
    height: 54px;
    width: 54px;
    overflow: hidden;

    @media screen and (max-width: 600px) {
      height: 44px;
      width: 44px;
    }

    img {
      top: 0;
      left: 0;
      width: 100%;
    }
  }

  .user-review {
    padding-left: 0;
    font-weight: bold;
    font-size: 11px;
  }

  .date-review {
    font-weight: bold;
    padding-right: 0;
    font-size: 11px;
    text-align: right;
  }
}